[Unit]
Description=Home Temperature Recorder
After=network.target

[Service]
ExecStart=/usr/bin/htr
User=htr
Type=simple
SuccessExitStatus=143
StandardOutput=syslog
EnvironmentFile=/etc/sysconfig/htr

[Install]
WantedBy=multi-user.target
